<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body>

    <!-- Navigation section-->
    {% block navbar %}
    <section class="navigation">

        <!-- Nav bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <!-- Nav bar container-fluid-->
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand" href="/students">RES</a>

                <!-- Support content button toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Support content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/students">รายชื่อนักเรียน</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/teachers">รายชื่ออาจารย์</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/subjects">รายวิชาที่สอน</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/levels">ระดับที่สอน</a>
                        </li>
                    </ul>
                    
                    <!-- Save button moved outside and aligned to the right -->
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/export_excel">ส่งออกเป็น Excel</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#upload_file">โหลด Excel ไฟล์ใส่ Database</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </section>

    <div class="modal fade" id="upload_file" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title">ใส่ไฟล์ Excel</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <input id="file" type="file" name="file" accept=".xlsx">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                        <button type="submit" class="btn btn-primary">โหลดข้อมูล</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    {% endblock %}

    <!-- MainBody section-->
    <main>

        {% block styles %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        <footer class="footer">
            <div class="position-fixed fixed-bottom">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </footer>

        {% block scripts %}
        {% endblock %}

    </main>

</body>

</html>