<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- favicon.ico -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Boostrap 5 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">

    <!-- Base and Theme CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />

    <!-- Jquery -->
    <script src="{{ url_for('static', filename='jquery/js/jquery-3.7.1.min.js') }}"></script>

    <!-- Jquery Form -->
    <script src="{{ url_for('static', filename='jqueryform/js/jquery.form.min.js') }}"></script>

    <!-- Boostrap 5 script-->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

    <!-- DataTable -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dataTables/css/dataTables.dataTables.css') }}" />
    <script src="{{ url_for('static', filename='dataTables/js/dataTables.js') }}"></script>

</head>