{% extends "base.html" %}

{% block content %}

<div class="row">
    <div id="content" class="col p-3">

        <h2>ประวัติการเงินของ {{ teacher.title + " " + teacher.f_name + " " + teacher.l_name }}</h2>
        <table id="payment_table">
            <thead>
                <tr>
                    <th>นักเรียน</th>
                    <th>วิชา</th>
                    <th>ระดับ</th>
                    <th>จำนวน</th>
                    <th>วันที่สอน</th>
                </tr>
            </thead>


            <tbody>

                {% for payment in payments %}
                <tr>
                    <td>{{ payment.f_name + " " + payment.l_name + " " }} ({{ payment.n_name }})</td>
                    <td>{{ payment.subject_name }}</td>
                    <td>{{ payment.level_name }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.date }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        {% for monthly_payment in monthly_payments %}
            <h4>ที่จ่ายให้เดือน {{ monthly_payment.month_year }}: {{ monthly_payment.total_amount }}</h4>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#payment_table').DataTable();
    });
</script>
{% endblock %}