{% extends "base.html" %}

{% block content %}

<div class="row">
    <div id="content" class="col p-3">

        <h2>ประวัติการเงินของ {{ teacher.title + " " + teacher.f_name + " " + teacher.l_name }}</h2>
        <table id="payment_table">
            <thead>
                <tr>
                    <th>นักเรียน</th>
                    <th>วิชา</th>
                    <th>ระดับ</th>
                    <th>จำนวน</th>
                    <th>วันเวลาที่ได้รับ</th>
                </tr>
            </thead>


            <tbody>

                {% for payment in payments %}
                <tr>
                    <td>{{ payment.f_name + " " + payment.l_name + " " }} ({{ payment.n_name }})</td>
                    <td>{{ payment.subject_name }}</td>
                    <td>{{ payment.level_name }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.created_at }}</td>
                </tr>
                {% endfor %}

            </tbody>


        </table>

        <h4>ที่ต้องจ่ายให้ครูเดือนนี้: {{ teacher.payment }}</h4>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#payment_table').DataTable();
    });
</script>
{% endblock %}