{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col p-3">
        <div class="card">
            <form id="student_form" class="needs-validation" action="/update/student?student_id={{ student.student_id }}" method="post" enctype="multipart/form-data">
                <div class="card-header">
                    ข้อมูลนักเรียน
                </div>
                <div class="card-body">
                    {% include 'student_form.html' %}
                </div>

                <div class="card-footer">
                    <button id="save_button" type="submit" class="btn btn-primary">บันทึก</button>
                </div>
            </form>
        </div>

    </div>
</div>

{% block scripts %}
<script>
    $(document).ready(function () {

        $('#save_button').hide();

        $('#student_form').on('change', function () {
            $('#save_button').show();
        });
    });
</script>
{% endblock %}

{% endblock %}