{% extends "base.html" %}

{% block content %}

<div class="row">
    <div id="content" class="col p-3">

        <a href="/add_student">
            <button class="btn btn-primary">เพิ่มนักเรียน</button>
        </a>

        <table id="student_table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>ชื่อ</th>
                    <th>เบอร์โทร</th>
                    <th>Email</th>

                    <th>
                        วิชา
                    </th>

                    <th>
                        เช็คชื่อ
                    </th>
                </tr>
            </thead>


            <tbody>

                {% for student in students %}
                <tr>
                    <td>{{ student.student_id }}</td>
                    <td>{{ student.f_name + " " + student.l_name + " " }} ({{ student.n_name }})</td>

                    <td>{{ student.phone_num }}</td>
                    <td>{{ student.email }}</td>

                    <td>
                        <a href="/registration?student_id={{ student.student_id }}">
                            <button class="btn btn-primary">ลงวิชาเพิ่ม</button>
                        </a>

                        <a href="/history/{{ student.student_id }}">
                            <button class="btn btn-success">ดูวิชาที่ลงไว้</button>
                        </a>
                    </td>

                    <td>
                        <input class="form-check-input" type="checkbox" id="attendance" value="{{ student.student_id }}" {% if student.student_id in students_attended %} checked {% endif %}>
                        <a href="/attendances/{{ student.student_id }}">
                            <button class="btn btn-success">ประวัติเข้าเรียน</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>


        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#student_table').DataTable();

        $('#attendance').change(function () {
            var student_id = $(this).val();
            $.ajax({
                type: "POST",
                url: "/attendance",
                data: {
                    student_id: student_id,
                },
                success: function (data) {
                    console.log(data);
                }
            });
        });
    });
</script>
{% endblock %}