{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col p-3">
        <div class="card">
            <div class="card-header">
                ข้อมูลนักเรียน
            </div>
            <div class="card-body">

                <div class="col-12 mb-3">
                    <label class="form-label">รหัสนักเรียน</label>
                    <input type="text" class="form-control" value="{{student.student_id}}" readonly>
                </div>

                <div class="row mb-3">
                    <div class="col mb-3">
                        <label for="title" class="form-label">คำนำหน้า</label>
                        <select class="form-select" name="title" value="{{student.title}}" readonly>
                            <option selected>นาย</option>
                            <option value="1">นาง</option>
                            <option value="2">นางสาว</option>
                        </select>
                    </div>

                    <div class="col mb-3">
                        <label for="f_name" class="form-label">ชื่อ</label>
                        <input type="text" class="form-control" id="f_name" name="f_name" value="{{student.f_name}}"
                            readonly>
                    </div>

                    <div class="col mb-3">
                        <label for="l_name" class="form-label">นามสกุล</label>
                        <input type="text" class="form-control" id="l_name" name="l_name" value="{{student.l_name}}"
                            readonly>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}