{% extends "base.html" %}

{% block content %}

<div class="row">
    <div id="content" class="col p-3">
        
        <a href="/add_subject">
            <button class="btn btn-primary">เพิ่มวิชา</button>
        </a>

        <table id="subject_table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                </tr>
            </thead>


            <tbody>

                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.subject_id }}</td>
                    <td>{{ subject.subject_name}}</td>
                </tr>
                {% endfor %}

            </tbody>


        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#subject_table').DataTable();
    });
</script>
{% endblock %}