{% extends "base.html" %}

{% block content %}

<div class="row">
    <div id="content" class="col p-3">
        
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_subject">เพิ่มวิชาที่สอน</button>

        <div class="modal fade" id="add_subject" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <form action="/add/subject" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title">เพิ่มวิชาที่สอน</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col mb-3">
                                <label for="subject_name" class="form-label">ชื่อวิชา</label>
                                <input type="text" class="form-control" id="subject_name" name="subject_name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                            <button type="submit" class="btn btn-primary">เพิ่ม</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <table id="subject_table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>ดูอัตราค่าสอนตามระดับ</th>
                    <th>ลบ</th>
                </tr>
            </thead>


            <tbody>

                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.subject_id }}</td>
                    <td>{{ subject.subject_name}}</td>
                    <td>
                        <a href="/prices/{{ subject.subject_id }}">
                            <button class="btn btn-success">ดูอัตราค่าสอน</button>
                        </a>
                    </td>
                    <td>
                        <a href="/delete/subject?subject_id={{ subject.subject_id }}">
                            <button class="btn btn-danger">ลบ</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>


        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#subject_table').DataTable();
    });
</script>
{% endblock %}