{% extends "base.html" %}

{% block content %}

<div class="row">
    <div id="content" class="col p-3">

        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_teacher">เพิ่มอาจารย์</button>

        <div class="modal fade" id="add_teacher" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <form action="/add/teacher" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title">เพิ่มอาจารย์</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            {% include 'teacher_form.html' %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                            <button type="submit" class="btn btn-primary">เพิ่ม</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <table id="teacher_table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>เงินที่ต้องจ่ายให้ครูเดือนนี้</th>
                    <th>ลบ</th>
                </tr>
            </thead>


            <tbody>

                {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.teacher_id }}</td>
                    <td>
                        <a href="/teachers/{{ teacher.teacher_id }}">
                            {{ teacher.f_name + " " + teacher.l_name + " " }} ({{ teacher.n_name }})
                        </a>
                    </td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher.phone_num }}</td>


                    <td>
                        <a href="/payments/{{ teacher.teacher_id }}">
                            {{ teacher.payment }}
                        </a>

                    </td>

                    <td>
                        <a href="/delete/teacher?teacher_id={{ teacher.teacher_id }}">
                            <button class="btn btn-danger">ลบ</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <h4>จำนวนเงินที่ต้องจ่ายให้ครูเดือนนี้: {{ total_amount }}</h4>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#teacher_table').DataTable();

        $('#payment_ratio').on('input', function () {
            var ratio = $(this).val() * 100;
            $('#payment_ratio_text').text(ratio + "%");
        });
    });
</script>
{% endblock %}